<!-- Initial Page, "data-name" contains page name -->
<div data-name="main" class="page">

	<!-- Top Navbar -->
	<div class="navbar">
		<div class="navbar-bg"></div>
		<div class="navbar-inner">
			<div class="left">
				<a href="#" data-popover=".popover-menu" class="button button-small popover-open">
					<i class="f7-icons">bars</i>
				</a>
			</div>
			<div class="title">Wrender Time
				<span class="subtitle app-version"></span>
			</div>
			<!-- <div class="right">
				<a href="#" class="button button-small open-settings">
					<i class="f7-icons">gear_alt</i>
				</a>
			</div> -->
			<!-- <div class="title-large">
							<div class="title-large-text">
								<script type="text/javascript">document.write(appname);</script>
							</div>
						</div> -->
		</div>
	</div>

	<!-- Bottom Toolbar -->
	<!-- <div class="toolbar toolbar-bottom">
		<div class="toolbar-inner">
			<a href="#" class="link">Link 1</a>
			<a href="#" class="link">Link 2</a>
		</div>
	</div> -->
	<!-- Scrollable page content -->
	<div class="searchbar-backdrop"></div>
	<div class="page-content">
		<form class="list" id="my-form">
			<!-- <ul>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Watch Directory</div>
						<div class="item-input-wrap">
							<input type="text" name="watchdir" value="D:\GCC\_Exported" />
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
			</ul> -->
		</form>
		<div class="block">
			<div class="row">
				<a href="#" id="toggleButton" class="col button button-raised button-fill disabled"
					onclick="toggleWatching()">Start
					Watching</a>
			</div>
		</div>
		<!-- <div class="block-title">Output</div>
		<div class="block">
			<p id="readout">Here comes paragraph within content block.</p>
		</div> -->
		<div class="block-title">Files</div>
		<div class="list virtual-list media-list watch-file-list">
		</div>
		<!-- <h3>
						<script type="text/javascript">document.write(version);</script>
					</h3>
					<p>
						<span style="color:red;"><b>WARNING:</b> This is a prototype!</span>
					</p><input id="watchDirectory" type="text" placeholder="Watch Directory" value="D:\GCC\_Exported" />
					<br />
					<button id="toggleButton" onclick="toggleWatching()">Start</button>
					<h4>Output</h4>
					<p id="readout"></p> -->
	</div>
</div>