<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Security-Policy"
		content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap: content:">
	<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="default">
	<meta name="theme-color" content="#2196f3">
	<meta name="format-detection" content="telephone=no">
	<meta name="msapplication-tap-highlight" content="no">
	<link rel="stylesheet" href="../assets/framework7/css/framework7.bundle.min.css">
	<link rel="stylesheet" href="../assets/css/icons.css">
	<link rel="stylesheet" href="../assets/css/app.css">
	<title>Preferences</title>
	<script type="text/javascript">
		const { remote, ipcRenderer } = require("electron");
		const utilities = require("../components/Utilities.js");
		const globals = require("../components/globals.js");
		const log = require('electron-log');
		const Settings = require("../components/Settings.js");
		const RenderFile = require("../components/RenderFile.js");
		const IFTTT = require("../components/services/IFTTT.js");
		const path = require('path');
		const appname = remote.app.getName();
		const version = remote.app.getVersion();
		const exampleWorkingDirectory = (remote.process.platform === 'darwin') ? "/Users/johndoe/Desktop" : "C:\\sad\\sadsa";
	</script>
</head>

<body>
	<!-- App root element -->
	<div id="app">
		<div class="view view-preferences safe-areas">
			<!-- Initial Page, "data-name" contains page name -->
			<div data-name="preferences" class="page">

				<!-- Top Navbar -->
				<div class="navbar">
					<div class="navbar-bg"></div>
					<div class="navbar-inner">
						<div class="left"><a href="#" onclick="location.reload()" class="link icon-only">
								<i class="icon f7-icons">arrow_clockwise</i>
							</a>
						</div>
						<div class="title">Preferences</div>
						<div class="right">
							<a href="#" class="link save-settings">Save</a>
						</div>
						<div class="subnavbar">
							<div class="subnavbar-inner">
								<div class="segmented  segmented-strong">
									<a class="button tab-link tab-link-active" href="#tab-general">General</a>
									<a class="button tab-link" href="#tab-services">Services</a>
									<a class="button tab-link" href="#tab-other">Other</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="tabs-animated-wrap">
					<div class="tabs">
						<!-- GENERAL TAB -->
						<div id="tab-general" class="page-content tab tab-active">
							<div class="block-title">General</div>
							<form id="general-settings">
								<div class="list">
									<ul>
										<li class="item-content item-input item-input-with-info">
											<div class="item-inner">
												<div class="item-title item-label">Watch Directory</div>
												<div class="item-input-wrap">
													<input type="text" name="watch-folder-path"
														placeholder="C:\sad\sadsa" required validate
														data-error-message="A directory is required" />
													<div class="item-input-info">This is required</div>
												</div>
											</div>
										</li>
										<li>
											<a class="list-button open-directory-select-dialog"
												data-directory-output="input[name='watch-folder-path']">Choose
												Directory</a>
										</li>
									</ul>
								</div>
								<div class="list simple-list">
									<ul>
										<li>
											<span>Start with System</span>
											<label class="toggle toggle-init" id="start-with-system-toggle">
												<input type="checkbox" name="start-with-system-toggle" />
												<span class="toggle-icon"></span>
											</label>
										</li>
										<li>
											<span>Start Watching on App Load</span>
											<label class="toggle toggle-init" id="start-watching-on-load">
												<input type="checkbox" name="start-watching-on-load" />
												<span class="toggle-icon"></span>
											</label>
										</li>
										<li>
											<span>Show Notification When App is Started</span>
											<label class="toggle toggle-init" id="notification-on-app-ready">
												<input type="checkbox" name="notification-on-app-ready" />
												<span class="toggle-icon"></span>
											</label>
										</li>
									</ul>
								</div>
							</form>
						</div>
						<!-- SERVICES TAB -->
						<div id="tab-services" class="page-content tab">

							<div class="block-title">Services</div>
							<div class="list accordion-list">
								<ul>
									<li class="accordion-item"><a href="#" class="item-content item-link">
											<div class="item-inner">
												<div class="item-title">IFTTT</div>
												<div class="item-subtitle" id="ifttt-service-status">Disabled</div>
											</div>
										</a>
										<div class="accordion-item-content">
											<form class="list" id="output-settings">
												<ul>
													<li>
														<div class="item-content">
															<div class="item-inner">
																<div class="item-title">IFTTT Enabled</div>
																<div class="item-after">
																	<label id="ifttt-service-enabled-toggle"
																		class="toggle toggle-init service-toggle"
																		data-linked-service-status="#ifttt-service-status">
																		<input type="checkbox"
																			name="ifttt-service-enabled"><i
																			class="toggle-icon"></i>
																	</label>
																</div>
															</div>
														</div>
													</li>
													<li class="item-content item-input item-input-with-info">
														<div class="item-inner">
															<div class="item-title item-label">API Key</div>
															<div class="item-input-wrap">
																<input name="ifttt-api-key" type="password"
																	placeholder="API Key" required validate
																	pattern="([a-zA-Z0-9_.-]*)" minlength="22"
																	maxlength="22"
																	data-error-message="Should only contain numbers and letters" />
															</div>
															<div class="item-after">
																<a href="#" class="button password-mask-toggle"
																	id="ifttt-api-key-mask-toggle"
																	data-field="input[name='ifttt-api-key']">Show</a>
															</div>
														</div>
													</li>
												</ul>
											</form>
											<div class="block">
												<p class="row">
													<a href="#" id="ifttt-test-button"
														class="col button button-large button-raised button-fill">Test</a>
												</p>

											</div>
											<div class="block block-strong row">
												<div class="col"><a class="button convert-form-to-data" href="#">Get
														Data</a></div>
												<div class="col"><a class="button fill-form-from-data" href="#">Fill
														Form</a></div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<!-- OTHER TAB -->
						<div id="tab-other" class="page-content tab">
							<!-- <form class="list" id="other-settings">
								<ul>
									<li>
										<div class="item-content">
											<div class="item-inner">
												<div class="item-title">Enabled</div>
												<div class="item-after">
													<label class="toggle toggle-init">
														<input type="checkbox" name="toggle" value="yes"><i
															class="toggle-icon"></i>
													</label>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</form> -->
							<div class="block">
								<p>Save File Location:
									<script type="text/javascript">document.write(Settings.GetSettingsFile())</script>
								</p>
								<p>Exec Path:
									<script type="text/javascript">document.write(process.execPath)</script>
								</p>
								<p>Path Basename:
									<script
										type="text/javascript">document.write(path.basename(process.execPath))</script>
								</p>
								<p>Path:
									<script type="text/javascript">document.write(remote.app.getPath('exe'))</script>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../assets/framework7/js/framework7.bundle.min.js"></script>
	<script src="../assets/js/routes.js"></script>
	<!-- <script src="../assets/js/dropzone.js"></script> -->
	<script src="../assets/js/app.js"></script>
	<script type="text/javascript">
		var preferencesView = app.views.create('.view-preferences', {
			url: '/',
			main: true,
			masterDetailBreakpoint: 800,
			// routes: localization_routes
		});

		const elementIDs = {
			generalSettingsForm: "form#general-settings",
			outputSettingsForm: "form#output-settings",
			watchFolderPath: "input[name='watch-folder-path']",
			ifttt: {
				serviceEnabledToggle: "input[name='ifttt-service-enabled']",
				apiKeyField: "input[name='ifttt-api-key']",
				apiKeyMaskToggle: "#ifttt-api-key-mask-toggle",
				serviceStatusLabel: "#ifttt-service-status",
				testButton: "#ifttt-test-button"
			}
		}

		var inopTooltip = app.tooltip.create({
			targetEl: '.inop-tooltip',
			text: 'Doesn\'t Work Yet',
		});

		var wereSettingsModifiedFromLastSaved = false;

		document.addEventListener('DOMContentLoaded', PopulateSettings);

		function PopulateSettings() {
			$$(elementIDs.watchFolderPath).attr("placeholder", exampleWorkingDirectory);

			var generalFormData = {
				"watch-folder-path": Settings.General.watchFolderLocation.Get(),
				"start-with-system-toggle": [(Settings.General.runOnSystemStart.Get() == true) ? "on" : "off"],
				"start-watching-on-load": [(Settings.General.startWatchingImmediately.Get() == true) ? "on" : "off"],
				"notification-on-app-ready": [(Settings.General.showNotificationOnAppReady.Get() == true) ? "on" : "off"]
			}
			app.form.fillFromData(elementIDs.generalSettingsForm, generalFormData);

			var servicesFormData = {
				"ifttt-service-enabled": [(Settings.Services.IFTTT.serviceEnabled.Get() == true) ? "on" : "off"],
				"ifttt-api-key": Settings.Services.IFTTT.apiKey.Get()
			}
			app.form.fillFromData(elementIDs.outputSettingsForm, servicesFormData);

			MarkSettingsClean();
		}

		function ApplySettings() {
			app.dialog.progress('Applying Settings...');
			let generalFormData = app.form.convertToData(elementIDs.generalSettingsForm);
			let servicesFormData = app.form.convertToData(elementIDs.outputSettingsForm);

			let mustRestart = false;

			// if (Settings.General.watchFolderLocation.Get() != generalFormData["watch-folder-path"]) {
			// 	Settings.General.watchFolderLocation.Set(generalFormData["watch-folder-path"]);
			// 	mustRestart = true;
			// }

			if (Settings.General.watchFolderLocation.Set(generalFormData["watch-folder-path"]))
				mustRestart = true;

			let startOnBoot = generalFormData["start-with-system-toggle"] == "on";
			Settings.General.runOnSystemStart.Set(startOnBoot);
			ipcRenderer.send(globals.systemEventNames.START_ON_BOOT_CHANGED, { startOnBoot: startOnBoot });

			Settings.General.startWatchingImmediately.Set(generalFormData["start-watching-on-load"] == "on");
			Settings.General.showNotificationOnAppReady.Set(generalFormData["notification-on-app-ready"] == "on");

			Settings.Services.IFTTT.serviceEnabled.Set(servicesFormData["ifttt-service-enabled"] == "on");
			Settings.Services.IFTTT.apiKey.Set(servicesFormData["ifttt-api-key"]);


			app.dialog.close();
			setTimeout(function () {

				const logText = `Settings Applied (Must Restart: ${mustRestart})`;
				console.log(logText);
				MarkSettingsClean();
				// app.dialog.alert(logText);
			}, 500);
		}

		function MarkSettingsClean() {
			wereSettingsModifiedFromLastSaved = false;
			// console.log("Settings were marked clean.");
		}
		function MarkSettingsDirty() {
			wereSettingsModifiedFromLastSaved = true;
			// console.log("Settings were marked dirty.");
		}

		$$('.save-settings').on('click', ApplySettings);

		$$(elementIDs.ifttt.apiKeyField).on("change", function (e) {
			let isInvalid = $$(this).hasClass("input-invalid");
			// console.log();
			MarkSettingsDirty();
		});

		$$('.toggle').on('change', MarkSettingsDirty);
		$$('input').on('input', MarkSettingsDirty);


		$$(elementIDs.ifttt.testButton).on('click', function () {
			var formData = app.form.convertToData(elementIDs.outputSettingsForm);

			app.dialog.progress('Sending Test to IFTTT...');

			IFTTT.SendRequest("wrender_finished", formData["ifttt-api-key"], {
				value1: 'This is only a test. If you see this, then it worked!',
				value2: "https://s3.amazonaws.com/cdn-origin-etr.akc.org/wp-content/uploads/2017/11/14112506/Pembroke-Welsh-Corgi-standing-outdoors-in-the-fall.jpg"
			});

			setTimeout(function () {
				app.dialog.close();
				app.dialog.alert("Test request was sent!");
			}, 1000);
		});

		$$('.convert-form-to-data').on('click', function () {
			var generalFormData = app.form.convertToData(elementIDs.generalSettingsForm);
			var servicesFormData = app.form.convertToData(elementIDs.outputSettingsForm);
			app.dialog.alert(JSON.stringify(generalFormData));
		});

		$$('.fill-form-from-data').on('click', PopulateSettings);

		ipcRenderer.on(globals.systemEventNames.CLOSE_PREFERENCES, (event, args) => {
			if (args.applySettings == true) {
				ApplySettings();
			}

			setTimeout(function () {
				ipcRenderer.send(globals.systemEventNames.CLOSE_PREFERENCES, args);
			}, 500);
		});

		ipcRenderer.on(globals.systemEventNames.APPLY_PREFERENCES, ApplySettings);


		ipcRenderer.on(globals.systemEventNames.REQUEST_CLOSE_PREFERENCES, (event, args) => {
			if (wereSettingsModifiedFromLastSaved == false) {
				args.applySettings = false;
				ipcRenderer.send(globals.systemEventNames.CLOSE_PREFERENCES, args);
				return;
			}


			var dialog = app.dialog.create({
				text: 'Would you like to save and apply these settings?',
				destroyOnClose: true,
				buttons: [
					{
						text: 'Save',
						close: true,
						bold: true,
						keyCodes: [13],
						onClick: (dialog, e) => {
							args.applySettings = true;
							ApplySettings();
							ipcRenderer.send(globals.systemEventNames.CLOSE_PREFERENCES, args);
						}
					},
					{
						text: 'Don\'t Save',
						close: true,
						color: 'gray',
						onClick: (dialog, e) => {
							args.applySettings = false;
							ipcRenderer.send(globals.systemEventNames.CLOSE_PREFERENCES, args);
						}
					},
					{
						text: 'Cancel',
						close: true,
						color: 'gray',
						onClick: (dialog, e) => {
							args.applySettings = false;
						}
					}
				]
			});
			dialog.open();
		});
	</script>
</body>

</html>