<!-- Initial Page, "data-name" contains page name -->
<div data-name="main" class="page">

	<!-- Top Navbar -->
	<div class="navbar">
		<div class="navbar-bg"></div>
		<div class="navbar-inner">
			<div class="left">
				<a href="#" class="link icon-only disabled">
					<i class="icon f7-icons">home</i>
					<!-- <span class="if-not-md">Dashboard</span> -->
				</a>
			</div>
			<div class="title">Preferences</div>
			<div class="right">
				<a href="/localization/import_popup/" class="link icon-only">
					<i class="icon f7-icons">square_arrow_down</i>
				</a>
				<a href="/localization/save_to_location/" class="link icon-only">
					<i class="icon f7-icons">square_arrow_up</i>
				</a>
				<a href="/left-panel/" class="link icon-only">
					<i class="icon f7-icons">plus</i>
				</a>
			</div>
			<!-- <div class="title-large">
							<div class="title-large-text">
								<script type="text/javascript">document.write(appname);</script>
							</div>
						</div> -->
		</div>
	</div>

	<!-- Bottom Toolbar -->
	<div class="toolbar toolbar-bottom">
		<div class="toolbar-inner">
			<!-- Toolbar links -->
			<a href="#" class="link">Link 1</a>
			<a href="#" class="link">Link 2</a>
		</div>
	</div>
	<!-- Scrollable page content -->
	<div class="page-content">
		<form class="list" id="my-form">
			<ul>
				<li class="item-content item-input">
					<!-- <div class="item-media">... icon/image here ...</div> -->
					<div class="item-inner">
						<div class="item-title item-label">Watch Directory</div>
						<div class="item-input-wrap">
							<input type="text" name="watchDirectory" value="D:\GCC\_Exported" />
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
			</ul>
		</form>
		<!-- <h3>
						<script type="text/javascript">document.write(version);</script>
					</h3>
					<p>
						<span style="color:red;"><b>WARNING:</b> This is a prototype!</span>
					</p><input id="watchDirectory" type="text" placeholder="Watch Directory" value="D:\GCC\_Exported" />
					<br />
					<button id="toggleButton" onclick="toggleWatching()">Start</button>
					<h4>Output</h4>
					<p id="readout"></p>
		<a href="/about/">About app</a> -->
	</div>
</div>